
    <a-scene>
      <a-assets>
        <img src="/assets/images/immagine.JPG" alt="" id="sky">
        <img src="/assets/texture/legno.png" alt="" id="wood">
      </a-assets>
      <a-sky src="#sky" rotation="0 0 0">

        <!-- ground -->
        <a-plane material="color: #999999; src: #wood; repeat: 5 5;
        normal-map: #wood; normal-texture-repeat: 5 5;" rotation="-90 0 0" scale="10 10 1">

        </a-plane>
      </a-sky>
        <!-- uso della camera -->
        <!-- Origini sono 0 0 0 in VR mode -->
        <!-- Origini sono 0 1.6 0 in Desktop  mode -->
        <a-entity position="0 0 10"><!-- Genitore -->
          <a-camera user-height="1.6" active="false" ></a-camera><!-- figlio -->
        </a-entity>
        <a-entity position="0 0 10"><!-- Genitore -->
          <a-camera user-height="0.9" active="false" ></a-camera><!-- figlio -->
        </a-entity>
        <a-entity position="0 5 5" animation="property: rotation; to: 0 360 0; loop:true; dur: 30000;
        easing: linear"><!-- Genitore -->
          <a-camera  active="true" >
          </a-camera><!-- figlio -->
        </a-entity>
   </a-scene>
