
    <a-scene>
      <a-sky src="/assets/images/immagine.JPG" rotation="0 0 0">

      </a-sky>
      <a-box color="#689f38"
      src='/assets/texture/legno.png'
      roughness='10'
      repeat='2 1'
      width='7'
      height='10'
      depth='10'
      position='0 3 -30'>
    </a-box>
    <!-- img width (px) = 1mt -->
    <!-- img height (m) = width(m)/width(px) * img height(px) -->
    <!-- img = 1024 x 768 height(m) = 1/1024*768 = 0.75 questo è il fattore di trasformazione in metri-->
    <a-image
       src="/assets/images/l09.jpg"
       position="0 1.5 -3"
       width="1"
       height="0.75"
       scale="1 1 1">

    </a-image>
      <a-cylinder src='/assets/texture/legno.png' position='0 0 -20' rotation="0 0 90" scale="1 1 1"></a-cylinder>
    </a-scene>
